.Header {
  color: Black;
  text-align: center;
}

.body {
  background-color: white;
}

/* This property is referenced in initial div tag. it is for the homepage concerning the two photos. */

.imghome {
  display: Block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  width: 100%;
  /* learn how to round a photo edges */
}

/* This property references the p tags in the homepage. */
.paragraph {
  vertical-align: 25px;
  font-size: 15x;
  padding: 20px;
  line-height: 1.5;
}

/* This property refers to the homepage */
#March {
  margin-top: 20px;
}

/* Styling for the ul list concerning the icons */

.icon li {
  display: inline;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 5px 5px 0;
  display: inline-block;
  font-size: 35px;
  padding-left: 15px;
}

/* This property references the images in the portfolio page */
.project {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 50px;
  width: 80%;
  float: left;
  margin-bottom: 50px;
}

/* This property references the paragraph tag for covid-19 project. class = covid */

.covid {
  margin-top: 15%;
}

/* The property reference the paragraph tag for BookBook. class = books */
.books {
  margin-top: 60%;
}

/* The property references the paragraph tag for theresfoodathome. class= home */
.home {
  margin-top: 80%;
}

/* This property references the p tags in the portfolio page. */
.portfolio {
  font-size: 25px;
  padding: 20px;
  line-height: 1.5;
  float: right;
}

H1 {
  text-align: center;
  text-emphasis-style: bold;
}

/* This is for the Footer */
* .Footer {
  text-align: center;
  text-emphasis-style: bold;
  font-size: 35px;
}

.Row {
  text-emphasis-style: bold;
  text-align: center;
}
